html{

    background: url(http://4.bp.blogspot.com/-vp7wnKzLF8w/TmVEDh05zgI/AAAAAAAAAzY/EEjBlYMpkBw/s1600/team_fortress_2_sniper_wallpaper_www.Vvallpaper.net.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: fantasy;
    font-size: 40px;
    font-style: normal;
    font-weight: bold;
    vertical-align: middle;
    text-align: center;
}