html{
    background: url(http://www.bitewallpapers.com/games/game%20wallpaper/space%20invaders/part%203/Space_invaders_wallpaper_classic-game.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body
{


    font-family: fantasy;
    font-size: 40px;
    font-style: normal;
    font-weight: bold;
    vertical-align: middle;
    text-align: center;
}
h1
{
    color:black;
    text-align:center;

    font-style: normal;
    font-weight: bold;
    font-variant: normal;
    font-family: fantasy;
    font-size: 60px;
}

#container {
    text-align:left;
    width:500px;
    margin: 0 auto;
}

a {
    background:#000000;
    color:#ffffff;
    padding:5px;
    text-decoration:none;
}
a:active {
    backround:#000000;
    color:#ccc;
    padding:5px;
}

input{
    margin:0;
    text-align:right;
}

p
{
    font-family:"Times New Roman";
    font-size:36px;
}